.main-text {
    text-align: center;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    /*font-family: "";*/

    text-transform: lowercase;
    word-spacing: 15px;
    letter-spacing: 3px;
    line-height: 10px;
}